<%
--[[ Define some variables to make locating other resources easier
     firstPage was defined in our manifest.]]

    local image = getImage( index )
    local theRoot = ".."
    local others = "."
    local mySize = "large"
%>

<% --[[ Include the page header]] %>
<%@ include file="head.html" %>

<p class="navlinks">
  <lr:Pagination>
    <lr:PreviousEnabled>
      <a href="$link"><%= LOC "$$$/AgWPG/Templates/HTML/output/Previous=Zur&uuml;ck" %></a>
    </lr:PreviousEnabled>
    <lr:PreviousDisabled>
      <%= LOC "$$$/AgWPG/Templates/HTML/output/Previous=Zur&uuml;ck" %>
    </lr:PreviousDisabled>
    | <a href="$gridPageLink">&Uuml;bersicht</a> |
    <lr:NextEnabled>
      <a href="$link"><%= LOC "$$$/AgWPG/Templates/HTML/output/Next=Weiter" %></a>
    </lr:NextEnabled>
    <lr:NextDisabled>
      <%= LOC "$$$/AgWPG/Templates/HTML/output/Next=Weiter" %>
    </lr:NextDisabled>
  </lr:Pagination>
</p>

<% --[[ Main image area ]] %>
<a href="$gridPageLink">
  <img src="bin/images/large/<%= image.exportFilename %>.jpg"
       class="photo"
       alt="$image.metadata.title"
       width="$image.renditions.large.width"
       height="$image.renditions.large.height"
       />
</a>
<p><span class="PhotoID">$image.exportFilename</span> <span class="captionTitle">$image.metadata.title</span></p>
<p class="Comment">$image.metadata.description</p>

<% --[[ Include the page footer]] %>
<%@ include file="foot.html" %>
