<%
    local mySize = "thumb"
%>
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>$model.metadata.event.value - $model.metadata.clubName.value - $model.metadata.date.value</title>
<link rel="stylesheet" href="resources/bandx13.css" >
<link rel="stylesheet" href="resources/photoswipe.css">
<script type="text/javascript" src="resources/klass.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="resources/code.photoswipe.jquery-3.0.5.min.js"></script>

<script type="text/javascript">

	(function(window, PhotoSwipe){
	
		document.addEventListener('DOMContentLoaded', function(){
		
			var
				options = {},
				instance = PhotoSwipe.attach( window.document.querySelectorAll('.thumbnail a'), options );
		
		}, false);
		
		
	}(window, window.Code.PhotoSwipe));
	
</script>

<% --[[ Scripting support for rollovers and (when previewed in Lightroom) live Update, photobin syncing ]] %>
<script type="text/javascript">
window.AgMode = "$mode";
cellRolloverColor="#A1A1A1";
cellColor="#949494";
<% if mode == 'preview' then %>
window.AgOnLoad = function() {
    tellLightroomWhatImagesWeAreUsing(); 
    setActiveImageSize( "<%= mySize %>" );
    <% if image then %>
    callCallback( "showInPhotoBin", "$image.imageID" );
    <% end %>
}
<% end %>
</script>
<script type="text/javascript" src="resources/live_update.js"></script>
</head>

<% --[[ The main HTML page begins here ]] %>
<body>

<div id="main">

<h1>$model.metadata.event.value
  &ndash; <span onclick="clickTarget( this, 'metadata.clubName.value' );" id="metadata.clubName.value">$model.metadata.clubName.value</span>
  &ndash; <span onclick="clickTarget( this, 'metadata.date.value' );" id="metadata.date.value">$model.metadata.date.value</span>
</h1>
<p onclick="clickTarget( this, 'metadata.groupDescription.value' );" id="metadata.groupDescription.value" class="textColor">$model.metadata.groupDescription.value</p>

<lr:ThumbnailGrid>
  <lr:GridPhotoCell>
    <div class="thumbnail"
         style="width: <%= model.photoSizes.thumb.width + 10 %>px; height: <%= model.photoSizes.thumb.height + 10 %>px; padding-bottom: 0px;"
      ><div style="padding-top: <%= math.floor((model.photoSizes.thumb.height + 20 - (image.renditions.thumb.height)) / 2) %>px;"
      ><a href="large/<%= image.exportFilename %>.jpg" title="$image.metadata.title"
        ><img src="thumb/<%= image.exportFilename %>.jpg"
              id="ID<%= image.imageID %>_thumb"
              width="$image.renditions.thumb.width"
              height="$image.renditions.thumb.height"
              alt="$image.metadata.title"></a></div></div>
  </lr:GridPhotoCell>
</lr:ThumbnailGrid>

<p class="footer" style="clear:both">&copy; 2013 Thomas Gerstendörfer. Alle Rechte vorbehalten. Verwendung dieser Bilder nur mit ausdr&uuml;cklicher schriftlicher Zustimmung des Fotografen. Bei&nbsp;Fragen:&nbsp;<a href="mailto:thomas@gerstendoerfer.com">thomas@gerstendoerfer.com</a></p>
<p class="footer"><a href="http://www.bandxaargau.ch/">bandXaargau 2013</a></p>

</div>

</body>
</html>
